[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/ArchBudgie: Automated script to install Budgie and all its programs on Arch Linux
Type=Link
URL=https://github.com/erikdubois/ArchBudgie
Icon=text-html
Name[en_US]=Link to erikdubois ArchBudgie
