[Desktop Entry]
Encoding=UTF-8
Name=Link to rankmirrors/rankmirrors at master · bruenig/rankmirrors · GitHub
Type=Link
URL=https://github.com/bruenig/rankmirrors/blob/master/rankmirrors
Icon=text-html
